{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-deck bg-light">
<div class="row row-cols-1 row-cols-md-2">
	<h1 style="font-family:Arial, Helvetica, sans-serif;" class="album pt-5 pb-2 my-0 col-md-12">Developers</h1>
	<div class="album py-5 my-0 pl-3 bg-light">
		<div class="container">
			<div class="col-md-6">
				<div class="card mb-4 shadow-sm" style="width: 30vw;">
					<div class="card-body">
						<img src="{% static 'img/Rohit.jpg' %}" alt="Rohit Karan" width="250vw">
						<br><br>
						<div class="alert alert-info">
							<h3 style="display-4">Rohit Karan</h3>
							<h6><span style="opacity:0.7">Indian Institute of Technology. Guwahati</span></h6>
							<p style="font-family:Arial, Helvetica, sans-serif;">A versatile and performance driven undergraduate who strives to learn, practice and conquer. I have a practical hands-on approach, aimed at achievement of results with maximum efficiency and reduced complexity.</p>
						</div>
						<a href="https://www.facebook.com/PrinceRohit2907"><img src="{% static 'img/fb.png' %}" alt="Facebook Link" width="30vw" class="mr-5"></a>
						<a href="https://www.linkedin.com/in/rohitkaran29/"><img src="{% static 'img/linkedin.png' %}" alt="LinkedIn Link" width="30vw" class="ml-5"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="album py-5 my-0 pr-3 bg-light">
		<div class="container">
			<div class="col-md-6">
				<div class="card mb-4 shadow-sm" style="width: 30vw;">
					<div class="card-body">
						<img src="{% static 'img/Ansh.jpg' %}" alt="Ansh Bhatt" width="250vw">
						<br><br>
						<div class="alert alert-info">
							<h3 style="display-4">Ansh Bhatt</h3>
							<h6><span style="opacity:0.7">Indian Institute of Technology. Guwahati</span></h6>
							<p style="font-family:Arial, Helvetica, sans-serif;">With a little toss of luck I started my journey in the field of Mathematics in 2018. Presently trying my hands on Web Development and Competitive Programming, I prefer utmost precision in all work that I take up.</p>
						</div>
						<a href="https://www.facebook.com/this.is.me.ansh"><img src="{% static 'img/fb.png' %}" alt="Facebook Link" width="30vw" class="mr-5"></a>
						<a href="https://www.linkedin.com/in/anshbhatt/"><img src="{% static 'img/linkedin.png' %}" alt="LinkedIn Link" width="30vw" class="ml-5"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
