{% extends 'base.html' %}
{% block content %}
<h3>{{quiz.quiz_name}}</h3>
<h5>Topic: {{quiz.topic}}</h5>
<h5>
	<div class="d-flex justify-content-between">
		<div>
			Number of questions: {{quiz.number_of_questions}}
		</div>
		<div>
			Maximum Marks: {{quiz.max_marks}}
		</div>
	</div>
</h5>
<br/>
{% for q in set %}
{% if q.quiz == quiz %}
<div class="alert alert-success" role="alert">
	<div class="d-flex justify-content-between">
		<div>
				<h5><p>{{q.question}}</p></h5>
		</div>
		<div>
				<h5><p> Marks: {{q.marks}}</p></h5>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<a href="/accounts/add_questions/{{quiz.pk}}" class="btn btn-primary">Add Questions</a>
{% endblock %}
