{% extends 'base.html' %}
{% block content %}
<h3>Welcome {{user.username}}. Attempt a Quiz.</h3>
<br></br>
<div class="card-deck">
	{% for quiz in set %}
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="col-md-4">
					<div class="card mb-4 shadow-sm" style="width: 18rem;">
						<div class="card-body">
							<a href="/accounts/student_quiz_view/{{quiz.pk}}">
							<h4 class="card-title">{{quiz.quiz_name}}</h4>
							</a>
							<div class="d-flex justify-content-between align-items-center">
								<p class="text-left">Topic: {{quiz.topic}}</p>
								<p class="text-right">Maximum Marks: {{quiz.max_marks}}</p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{%endblock%}
