{% extends 'base.html' %}
{% block content %}
{% for quiz in set %}
	{% if quiz.creator == user %}
	<div class="col-md-4">
		<div class="card mb-4 shadow-sm">
			<div class="card-body">
				<h4 class="card-title">{{quiz.quiz_name}}</h4>
				<div class="d-flex justify-content-between align-items-center">
						<p class="text-left">Topic: {{quiz.topic}}</p>
						<p class="text-right">Maximum Marks: {{quiz.max_marks}}</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
	<a href="{%url 'create_quiz'%}" class="btn btn-secondary my-2">Create A Quiz</a>
{%endblock%}
